/*.item1 { grid-area: header; }

.item2 { grid-area: menu; }

.item3 { grid-area: main; }

.item4 { grid-area: footer; }
	
	
		
.grid-container {
		display: grid;
		}
*/

p {
	color: red;
	
}